header {
    background-color: #3A4042;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #609970;
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px;
    margin-right: 0px;
} 

a:hover {
    color:chartreuse;
  }

nav {
    text-align: right;
}

a::before {
    content: "";
    display: inline-block;
    background: #609970;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}