.main-section {
    background-color: #609970;
    height: 730px;
    border-bottom: 10px solid #3A4042;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-second {
    background-color: black;
    height: 530px;
    border-bottom: 10px solid #609970;

}

.main-section.-third {
    background-color: #3A4042;
    height: 530px;
    border-bottom: 10px solid black;

}