.progress-bar {
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    height: 40px;
    -webkit-appearance: none;
}

.progress-bar::-webkit-progress-value {
    background-color: #3A4042;
}

.progress-bar::-webkit-progress-bar {
    background-color: white;
}