.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4042 ;
    width: 280px;
    height: 280px; 
    box-shadow: 10px 10px 0px white;
}

.project-card.-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C5B84 ;
    width: 280px;
    height: 280px; 
    box-shadow: 10px 10px 0px white;
}